* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Replace with desired weight, e.g., 400 for normal */
    font-style: normal;
}

body {
    background-image: url('/Images/Frame\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Adjust opacity as needed */
    z-index: -1;
    /* Ensures it stays behind the content */
}